/***********************Contavt Us*****************************/
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background:url(../images/Massachusetts-Institute-Of-Technology-1024x534.jpg);
  padding: 20px;
}
.text-border {
	padding:5px;
  border-style: groove;
  border-width: 7px;
  border-color: coral;  
  color:#fff;
  background-color:#000;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}